{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

        <!-- page-banner section 
			================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <h1>About Us</h1>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- about section 
			================================================== -->
        <section class="about-section">
            <div class="container">
                <div class="about-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-post">
                                <span>our vision</span>
                                <h2>Apply Critical Thinking & Imagination.</h2>
                                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.
                                    </p>
                                <p>Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-post">
                                <span>our mission</span>
                                <h2>Highest Creative Standards.</h2>
                                <p>Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-box">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="team-post">
                                <img src="{% static 'about/upload/team/1.jpg' %}" alt="">
                                <span>Top Author</span>
                                <h2>Stan Enemy</h2>
                                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-post">
                                <img src="{% static 'about/upload/team/2.jpg' %}" alt="">
                                <span>Top Author</span>
                                <h2>John Smith</h2>
                                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-post">
                                <img src="{% static 'about/upload/team/3.jpg' %}" alt="">
                                <span>Author</span>
                                <h2>Linda M.</h2>
                                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...</p>
                                <ul class="team-social">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End about section -->

        {% endblock %}
      

    
    