{% load static %}

<!doctype html>

<html lang="en" class="no-js">

<head>

    {% if title %}
    <title>SKAD's blog - {{ title }}</title>
    {% else %}
    <title>SKAD's blog</title> 
    {% endif %}

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/css/mite-assets.min.css' %}">
    <link rel="stylesheet" type="text/css" href= "{% static 'home/css/style.css' %}" >
    <link href="https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css" rel='stylesheet'>

</head>

<body>

  <header class="clearfix">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand bg-white" style="background-color:transparent;" href="{% static 'home.html' %}">
    <img class="logo" src="{% static 'home/images/skad.png' %}" alt="">
  </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="drop-link">
                        <a class="active" href="{% url 'blog-home' %}"><span>Home</span> 
                          </a>
                      
                      
                    </li>
                    <li class="drop-link">
                        <a href="{% static '#' %}">Features <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="dropdown">
                            <li><a href="{% static 'category-grid.html' %}">Category Pages <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown level2">
                                    <li><a href="{% static 'category-list.html' %}">List style</a></li>
                                    <li><a href="{% static 'category-grid.html' %}">Grid style</a></li>
                                    <li><a href="{% static 'category-mix.html' %}">Mix style</a></li>
                                </ul>
                            </li>
                            <li><a href="{% static 'single-post.html' %}">Post Styles <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown level2">
                                    <li><a href="{% static 'single-post.html' %}">classic sidebar</a></li>
                                    <li><a href="{% static 'single-post2.html' %}">fullwidth sidebar</a></li>
                                    <li><a href="{% static 'single-post3.html' %}">alt no sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="{% static 'about.html' %}">Pages <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown level2">
                                    <li><a href="{% static 'about.html' %}">about us</a></li>
                                    <li><a href="{% static 'archives.html' %}">Archive</a></li>
                                    <li><a href="{% static 'error-404.html' %}">error 404</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="{% static 'category-mix.html' %}">Lifestyle</a>
                        <div class="mega-dropdown">
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/c10.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Aliquam tincidunt mauris eu risus.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/c11.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Cras ornare tristique elit.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/c12.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Praesent placerat risus.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/c13.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Morbi in sem quis dui placerat ornare.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/c15.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Quisque volutpat mattis semper suscipit eros.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% static 'category-grid.html' %}">Videos</a>
                        <div class="mega-dropdown">
                            <ul class="filter-list">
                                <li><a href="{% static '#' %}">Videos</a></li>
                                <li><a href="{% static '#' %}">Trending</a></li>
                                <li><a href="{% static '#' %}">Latest</a></li>
                            </ul>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/p5.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Cras ornare tristique elit.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/p6.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Praesent placerat risus.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/p7.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Morbi in sem quis dui placerat ornare.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                            <div class="news-post standard-post">
                                <div class="image-holder">
                                    <img src="{% static 'home/upload/blog/p8.jpg' %}" alt="">
                                </div>
                                <h2><a href="{% static 'single-post.html' %}">Quisque volutpat mattis semper suscipit eros.</a></h2>
                                <ul class="post-tags">
                                    <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    <li>1 days ago</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'blog-about' %}">About</a></li>
                    <li><a href="{% url 'blog-contact' %}">Contacts</a></li>
                    
                </ul>
            </div>
            <a class="search-button" href="{% static '#' %}">LOGIN/REGISTER</a>
            <form class="form-search">
                <input type="search" placeholder="Search:" />
            </form>
        </div>
    </nav>
</header>

{% block content %} {% endblock %}

 <!-- blog section 
			================================================== -->
      <!-- <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-box">
                        <div class="title-section">
                            <h1>Latest Posts</h1>
                        </div>
                        <div class="iso-call">
                            <div class="item">
                                <div class="news-post article-post">
                                    <div class="image-holder">
                                        <img src="{% static 'upload/blog/m1.jpg' %}" alt="">
                                    </div>
                                    <a class="text-link" href="{% static '#' %}">Food</a>
                                    <h2><a href="{% static 'single-post.html' %}">Nullam malesuada eratut turpis.</a></h2>
                                    <ul class="post-tags">
                                        <li>3 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                        <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    </ul>
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt ...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-post article-post">
                                    <div class="image-holder">
                                        <img src="{% static 'upload/blog/m2.jpg' %}" alt="">
                                    </div>
                                    <a class="text-link" href="{% static '#' %}">Travel</a>
                                    <h2><a href="{% static 'single-post.html' %}">Morbi in sem quisdui placerat ornare.</a></h2>
                                    <ul class="post-tags">
                                        <li>3 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                        <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    </ul>
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt ...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-post article-post">
                                    <div class="image-holder">
                                        <img src="{% static 'upload/blog/m3.jpg' %}" alt="">
                                    </div>
                                    <a class="text-link" href="{% static '#' %}">Travel</a>
                                    <h2><a href="{% static 'single-post.html' %}">Morbi in sem quisdui placerat ornare.</a></h2>
                                    <ul class="post-tags">
                                        <li>3 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                        <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    </ul>
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt ...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-post article-post">
                                    <div class="image-holder">
                                        <img src="{% static 'upload/blog/m4.jpg' %}" alt="">
                                    </div>
                                    <a class="text-link" href="{% static '#' %}">Lifestyle</a>
                                    <h2><a href="{% static 'single-post.html' %}">Cras iaculis ultricies nulla.</a></h2>
                                    <ul class="post-tags">
                                        <li>3 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                        <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    </ul>
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt ...</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-post image-post">
                                    <img src="{% static 'upload/blog/m6.jpg' %}" alt="">
                                    <div class="hover-post">
                                        <a class="category-link" href="{% static '#' %}">Travel</a>
                                        <h2><a href="{% static 'single-post.html' %}">Aliquam erat volutpat.</a></h2>
                                        <ul class="post-tags">
                                            <li>3 days ago</li>
                                            <li><a href="{% static '#' %}">3 comments</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="news-post article-post">
                                    <div class="image-holder">
                                        <img src="{% static 'upload/blog/m5.jpg' %}" alt="">
                                    </div>
                                    <a class="text-link" href="{% static '#' %}">Lifestyle</a>
                                    <h2><a href="{% static 'single-post.html' %}">Cras iaculis ultricies nulla.</a></h2>
                                    <ul class="post-tags">
                                        <li>3 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                        <li>by <a href="{% static '#' %}">John Smith</a></li>
                                    </ul>
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="center-button">
                            <a class="button-one" href="{% static '#' %}">Load More</a>
                        </div>
                    </div>
                </div>
               <div class="col-lg-4">
                    <div class="sidebar">

                        <div class="widget social-widget">
                            <h2>Social</h2>
                            <ul class="social-list">
                                <li>
                                    <a href="{% static '#' %}">
                  <i class="fa fa-facebook"></i>
                  facebook
                  <span>25k likes</span>
                </a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}">
                  <i class="fa fa-twitter"></i>
                  twitter
                  <span>31k followers</span>
                </a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}">
                  <i class="fa fa-instagram"></i>
                  instagram
                  <span>31k followers</span>
                </a>
                                </li>
                            </ul>
                        </div>

                        <div class="widget features-widget">
                            <div class="owl-wrapper">
                                <div class="owl-carousel" data-num="1">

                                    <div class="item">
                                        <div class="news-post image-post">
                                            <img src="{% static 'upload/blog/m7.jpg' %}" alt="">
                                            <div class="hover-post overlay-bg">
                                                <div><a class="category-link" href="{% static '#' %}">Travel</a></div>
                                                <h2><a href="{% static 'single-post.html' %}">Morbi in sem quidui placerat ornare.</a></h2>
                                                <ul class="post-tags">
                                                    <li><a href="{% static '#' %}">3 comments</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="news-post image-post">
                                            <img src="{% static 'upload/blog/m7.jpg' %}" alt="">
                                            <div class="hover-post overlay-bg">
                                                <div><a class="category-link" href="{% static '#' %}">Travel</a></div>
                                                <h2><a href="{% static 'single-post.html' %}">Integer vitae libero ac risus egestas.</a></h2>
                                                <ul class="post-tags">
                                                    <li><a href="{% static '#' %}">3 comments</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="widget list-widget">
                            <h2>Latest Stories</h2>
                            <ul class="list-posts">
                                <li>
                                    <a class="text-link" href="{% static '#' %}">Lifestyle</a>
                                    <h2><a href="{% static 'single-post.html' %}">Fusce pellentesque suscipit.</a></h2>
                                    <ul class="post-tags">
                                        <li>2 days ago</li>
                                        <li><a href="{% static '#' %}">0 comments</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="text-link" href="{% static '#' %}">Food</a>
                                    <h2><a href="{% static 'single-post.html' %}">Integer vitae libero ac risus egestas placerat.</a></h2>
                                    <ul class="post-tags">
                                        <li>2 days ago</li>
                                        <li><a href="{% static '#' %}">3 comments</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="text-link" href="{% static '#' %}">Lifestyle</a>
                                    <h2><a href="{% static 'single-post.html' %}">Vestibulum commodo felisquis tortor.</a></h2>
                                    <ul class="post-tags">
                                        <li>4 days ago</li>
                                        <li><a href="{% static '#' %}">0 comments</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="text-link" href="{% static '#' %}">Travel</a>
                                    <h2><a href="{% static 'single-post.html' %}">Quisque a lectus. </a></h2>
                                    <ul class="post-tags">
                                        <li>4 days ago</li>
                                        <li><a href="{% static '#' %}">0 comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="widget category-widget">
                            <h2>Categories</h2>
                            <ul class="category-list">
                                <li>
                                    <a href="{% static '#' %}">
                  Travel <span>24</span>
                </a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}">
                  Lifestyle <span>16</span>
                </a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}">
                  Food <span>8</span>
                </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </section> -->
    <!-- End blog section -->

  <!-- instagram section 
			================================================== -->
      <section class="instagram-section">
        <div class="container">
            <div class="border-top"></div>
            <div class="instagram-box">

                <div class="title-section text-center">
                    <h1>Our Latest Instagram Posts</h1>
                    <a href="{% static '#' %}">@mittetheme</a>
                </div>
                <ul class="insta-list">
                    <li><a href="{% static '#' %}"><img src="{% static 'home/upload/instagram/1.jpg' %}" alt=""></a></li>
                    <li><a href="{% static '#' %}"><img src="{% static 'home/upload/instagram/2.jpg' %}" alt=""></a></li>
                    <li><a href="{% static '#' %}"><img src="{% static 'home/upload/instagram/3.jpg' %}" alt=""></a></li>
                    <li><a href="{% static '#' %}"><img src="{% static 'home/upload/instagram/4.jpg' %}" alt=""></a></li>
                    <li><a href="{% static '#' %}"><img src="{% static 'home/upload/instagram/5.jpg' %}" alt=""></a></li>
                </ul>

                <div class="center-button">
                    <a class="button-one" href="{% static '#' %}">Follow Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End instagram section -->

    <!-- footer 
  ================================================== -->
    <footer>
        <div class="container">

            <h1>Mitte</h1>
            <p class="copyright-line">© Copyright 2019 - All rights reserved.</p>
            <ul class="social-list">
                <li><a href="{% static '#' %}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{% static '#' %}"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="{% static '#' %}"><i class="fa fa-facebook"></i></a></li>
                <li><a href="{% static '#' %}"><i class="fa fa-instagram"></i></a></li>
            </ul>

        </div>

    </footer>
    <!-- End footer -->

</div>

<div class="preloader">
  <img alt="" src="{% static 'home/images/loader.gif' %}">
</div>


<script src="{% static 'home/js/mite-plugins.min.js' %}"></script>
<script src="{% static 'home/js/popper.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en"></script>
<script src="{% static 'home/js/gmap3.min.js' %}"></script>
<script src="{% static 'home/js/script.js' %}"></script>

</html>